.Site__title{
	padding: 20px;
}
.Main-nav__item {
  list-style: none;
  margin: 10px auto;
  padding: 1rem 1rem;
}

.Main-nav__link {
  padding: 1rem;
}

.Profile__image {
  border-radius: 50%;
  height: 50px;
  margin: 0px 10px;
  margin: 0 auto;
  display: block;
}

.Profile{
	display: flex;
}