.Main-nav__item {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.Main-nav__link {
  padding: 1rem;
}

.Profile__image {
  border-radius: 50%;
  height: 50px;
  margin: 0px 10px;
}

.Profile{
	display: inherit;
}